kubernetes==9.0.0  # ocs-ci requires 9.0.0
requests==2.21.0  # ocs-ci requires 2.21.0
urllib3<1.25,>=1.21.1  # due to requests 2.21.0
git+https://github.com/reportportal/client-Python.git@master#egg=reportportal-client  # needed by ocs-ci
mypy
pylint
pytest
pytest-benchmark
git+https://github.com/red-hat-storage/ocs-ci.git#egg=ocs-ci
